/* Styles for universal elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
}
:root {
    --mainColor: #001021;
    --secondaryColor: #F4F7F9;
    --accentColor: #007BFF;
    --textColor: #F4F7F9;
    --alttextColor: #001021;
    --footerColor: #000A14;
}
html {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: var(--mainColor);
    color: var(--textColor);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section {
    padding: 15px;
}
.acc {
    background-color: var(--accentColor);
}
.btn {
    border: 2px solid var(--secondaryColor);
    border-radius: 1.25em;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.btn-full {
    background-color: var(--secondaryColor);
    color: var(--alttextColor);
}
.btn-hollow {
    background-color: var(--mainColor);
    color: var(--textColor);
}
.section-heading {
    text-align: center;
}

/* Styles for text */
h1, h2 {
    margin-bottom: 5px;
}
h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 300%;
}
h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 200%;
}
p {
    font-weight: 200;
}


/* Styles for header section */
header.flex {
    justify-content: space-between;
}
.logo {
    max-width: 100%;
    width: 10em;
    height: auto;
}
nav ul {
    list-style-type: none;
}
nav li {
    padding: 0 10px;
}
nav li a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: var(--textColor);
    position: relative;
    display: inline-block;
}
nav li a:last-child {
    transform: none;
}
nav li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--textColor);
    transition: transform 0.15s ease-out;
    background-color: var(--accentColor);
}
nav li a:hover::after {
    transform: scaleX(1);
}
nav li button.btn-full:hover {
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    color: var(--textColor);
    transition: background-color 0.15s ease-out;
}
.header-body {
    padding: 15em 0;
}
#name {
    font-size: 300%;
}