/* Styles for universal elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
}
:root {
    --mainColor: #001021;
    --secondaryColor: #000;
    --accentColor: #007BFF;
    --text: #F4F7F9;
    --alttext: #001021;
}
html {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: var(--mainColor);
    color: var(--text);
}
.container {
    max-width: 1140px;
    margin: 0 auto;
}
.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section {
    padding-top: 15px;
    padding-bottom: 15px;
}
.acc {
    background-color: var(--secondaryColor);
}
.btn {
    border: 2px solid var(--text);
    border-radius: 1.25em;
    padding: 10px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 500;
    cursor: pointer;
}
.btn-full {
    background-color: var(--text);
    color: var(--alttext);
}
.btn-hollow {
    background-color: transparent;
    color: var(--text);
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 25px;
    right: 30px;
    z-index: 99;
    background-color: var(--text);
    color: var(--secondaryColor);
    font-size: 110%;
    padding: 15px;
    border-radius: 100%;
    transition: display 1.25s ease-out;
}
.section-heading {
    text-align: center;
}
.section-heading::after {
    content: '';
    height: 2px;
    width: 15%;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    background-color: var(--accentColor);
}
.subheading {
    text-align: center;
    padding-top: 10px;
}
/* Styles for text */
h1, h2, h3 {
    margin-bottom: 5px;
}
h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    font-size: 300%;
}
h2 {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-size: 200%;
}
p {
    font-weight: 300;
    padding: 15px 0;
}


/* Styles for header section */
header.flex {
    justify-content: space-between;
}
.header-body.flex {
    justify-content: space-evenly;
}
.logo {
    width: 15%;
    height: auto;
}
nav ul {
    list-style-type: none;
}
nav li {
    padding: 0 10px;
}
nav li a {
    text-decoration: none;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 600;
    color: var(--text);
    position: relative;
    display: inline-block;
}
nav li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text);
    transition: transform 0.15s ease-out;
    background-color: var(--accentColor);
}
nav li a:hover::after {
    transform: scaleX(1);
}
nav li button.btn-full:hover {
    background-color: var(--accentColor);
    border-color: var(--accentColor);
    color: var(--text);
    transition: background-color 0.15s ease-out;
}
.header-body {
    padding: 5em 0;
}
#name {
    font-size: 300%;
}
.header-img {
    width: 300px;
    height: auto;
}


/* Styles for projects section */
section#projects div.flex {
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-card {
    background-color: #000;
    border-radius: 1em;
    margin: 20px 0;
    padding: 15px;
    width: calc(50% - 20px);
}
.project-card img {
    width: 100%;
}
.gallery {
    margin: 0 auto;
    flex-wrap: wrap;
    width: calc(25% - px);
}


/* Styles for footer */
footer {
    background-color: var(--secondaryColor);
    padding: 60px 0;
}
footer .flex {
    align-items: first baseline;
    justify-content: space-between;
}
#quick-links ul {
   list-style-type: none;
}
#quick-links ul li {
    padding: 2px 0;
}
#quick-links ul li a {
    text-decoration: none;
    color: var(--text);
    position: relative;
}
#quick-links ul li a:hover {
    color: var(--accentColor);
    transition: 0.15s;
}
.socials a {
    color: var(--text);
    font-size: 150%;
}
.socials a:hover {
    color: var(--accentColor);
    transition: 0.15s;
}
.socials div.flex {
    justify-content: space-evenly;
}
#copyright {
    font-size: 80%;
    padding-top: 30px;
    text-align: center;
}